*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#F5F5F5;
}


.heading_style{
    text-align: center;
    padding:2%;
    height:100px;
    width:100vw;
    background-color:white;
}

.slot_inner{
    display: flex;
    justify-content:center;
    align-items: center;
    margin:30px;
}

.slot_machine{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border:2px solid black;
    width:50vw;
    margin-left:25%;
    margin-top:10%;
}